# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/Components/Footer/test.js
src/Components/WhatWeDo/test.js

18-12 build.rar
26-12 build.rar
28-12 build.rar
30-12 build.rar
31-12 build.rar
6-1 - 2 - build.rar
6-1-3-build.rar
18-12 build.rar
6-1 build.rar
test.js
8-1-build.rar
9-1-build.rar